
<form (submit)="onSubmit($event)" id="form">
	<div class="modal-header">
		<h2 class="modal-title">Đổi mật khẩu</h2>
		<button type="button" class="close" aria-label="Close" (click)="bsModalRef.hide()">
			<i class="fa fa-times" aria-hidden="true"></i>
		</button>
	</div>
	<div class="modal-body">
		<div class="row col-md-12">
			<div class="col-md-7">
        <dx-form validationGroup="changePassWordData" [colCount]="1" [formData]="changePassword" 
        [readOnly]="false" [showColonAfterLabel]="true" [showValidationSummary]="true">
          <dxi-item [label]="{text: 'Mật khẩu cũ'}" dataField="currentPass" [editorOptions]="{ mode: 'password' }">
            <dxi-validation-rule type="required" message="Vui lòng nhập mật khẩu cũ">
            </dxi-validation-rule>
          </dxi-item>
          <dxi-item [label]="{text: 'Mật khẩu mới'}" dataField="newPass" [editorOptions]="{ mode: 'password' }">
            <dxi-validation-rule type="required" message="Mật khẩu không được để trống">
            </dxi-validation-rule>
          </dxi-item>
          <dxi-item [label]="{text: 'Xác nhận mật khẩu'}" editorType="dxTextBox" dataField="rePass" [editorOptions]="{ mode: 'password' }">
						<dxi-validation-rule type="required" message="Vui lòng nhập lại mật khẩu để xác nhận">
						</dxi-validation-rule>
						<dxi-validation-rule 
							type="compare" 
							[comparisonTarget]="passwordComparison"
							message="Mật khẩu xác nhận không đúng">
						</dxi-validation-rule>
					</dxi-item>
        </dx-form>
			</div>
		</div>
  </div>
	<div class="modal-footer">
		<dx-button
			text="Ghi"
      type="default"
      validationGroup="changePassWordData"
			[useSubmitBehavior]="true">
		</dx-button>
		<dx-button
			text="Quay lại"
			(click)="bsModalRef.hide()">
		</dx-button>
	</div>
</form>
