/system_online
/system/.svn/
/system/node_modules/
/system/.angular-cli.json
/system/package-lock.json
/system/package.json
/system/tsconfig.json
/system/tslint.json
/system/src/assets/
/system/src/environments/
/system/src/app/shared/
/api/.svn/
/api/.env
/api/.env.mypc
/api/.env.mysql
/api/vendor/
/api/.htaccess
/api/bpm.php
/api/composer.json
/api/composer.lock
/api/getAllListtype.php
/api/getdata.php
/api/config/
/api/database/
/api/xml/
/api/tests/
/api/storage/
/api/router/
/api/public/
/api/app/
/api/bootstrap/
/api/modules/Backend/
/api/modules/Core/
/api/modules/Error/
/api/modules/System/Lang/
/api/modules/System/Users/
